{
    "overrides": [
        {
            "files": [
                "*.pcss",
                "*.scss"
            ],
            "options": {
                "parser": "scss",
                "plugins": [
                    "prettier-plugin-css-order"
                ]
            }
        }
    ],
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "endOfLine": "auto",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all"
}
