:root {
  --accent: #7CB663;
  --text-primary: #E0E0E1;
  --text-ghost: #68686E;
  --text-invisible: #3E3E43;
  --background: #0E0E11;
  --interactive-accent: #58ACF2;
}

/* {
  border: 1px solid red;
} */

html {
  max-width: 100%;
  width: 100vw;
}

body {
  margin: 0;

  max-width: 100%;
  width: 100vw;

  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Ubuntu, "Arial", sans-serif;
  font-size: 14px;

  background: var(--background);

  color: var(--text-primary);
}

main {
  padding: 64px 0 0 64px;

  box-sizing: border-box;

  max-width: 576px;
  width: 100vw;
}

.avalogo {
  --avalogo-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--avalogo-size);
  height: var(--avalogo-size);

  border-radius: 100%;

  background-color: var(--accent);
}

.avalogo .dot {
  --avalogo-dot-size: calc(var(--avalogo-size) / 2);

  width: var(--avalogo-dot-size);
  height: var(--avalogo-dot-size);

  border-radius: 100%;

  background-color: #11200B;
}

.md a {
  color: var(--text-primary);

  transition: color 300ms ease-in-out;
}

.md a:hover {
  color: var(--interactive-accent);
}

.md h1 a[href^="#"],
.md h2 a[href^="#"],
.md h3 a[href^="#"] {
  position: absolute;
  left: -16px;
  top: 0;
  width: 18px;

  text-decoration: none;
  color: var(--text-invisible);

  transition: all 300ms ease-in-out;

  opacity: 0;
}

.md h1 a[href^="#"]:hover,
.md h2 a[href^="#"]:hover,
.md h3 a[href^="#"]:hover {
  color: var(--text-primary);
}

.md h1,
.md h2,
.md h3 {
  position: relative;

  color: var(--text-ghost);

  margin-bottom: 0;
}

.md h1:hover a[href^="#"],
.md h2:hover a[href^="#"],
.md h3:hover a[href^="#"] {
  opacity: 1;
}

.md h1 {
  margin-top: 42px;

  font-weight: 700;
  color: var(--text-primary);
  font-size: 16px;
}

.md h2 {
  margin-top: 28px;

  font-weight: 500;
  font-size: 14px;
}

.md h3 {
  margin-top: 24px;

  font-weight: 400;
  font-size: 14px;
}

.md p {
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1.4rem;

  overflow-wrap: break-word;
}

.md strong,
.md b {
  font-weight: 700;
}

.md hr {
  width: 16px;

  margin: 42px 0 0;

  border-color: var(--text-invisible);
}

.md .emoji {
  cursor: default;

  margin-top: 24px;

  font-size: 11px;
  color: var(--text-ghost);

  transition: color 300ms ease-in-out;
}

.md .emoji:hover {
  color: #EC8786;
}

@media (max-width:481px) {
  .home main {
    padding: 24px 24px 0 24px;

    max-width: 100%;
  }

  .avalogo {
    margin-bottom: 0;
  }
}
